* {
    box-sizing: border-box;
}

.form {
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
}

.name {
    margin-bottom: 20px;
}

.surname {
    margin-bottom: 20px;
}

.inum {
    margin-bottom: 20px;
}

.search_button {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px 25px;
}

.submit_button {
    border-radius: 5px;
    background-color: white;
    padding: 10px 25px;
}